name: 'test-compile'

on:
  pull_request:

jobs:
  compile:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'test compile rust'
        shell: 'bash'
        run: |
          sudo apt install cargo cc libudev openssl linux-tools-common gcc-multilib libssl-dev:i386 \
            && cargo install probe-rs-tools
