name: 'test-compile'

on:
  pull_request:

jobs:
  compile:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'test compile rust'
        shell: 'bash'
        run: |
          set -eux
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt install cargo build-essential libudev-dev openssl libssl-dev linux-tools-common gcc-multilib libssl-dev:i386 \
            && cargo install probe-rs-tools --timings 2>&1 | tee output.txt
          timings_file="$(cat output.txt | grep 'Timing report saved to ' | awk '{print $NF}')"
          cat "${timings_file}"
          
          
